<!-- views/index.ejs -->
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Bar Chart</title>
</head>
<body style="text-align: center;">
  <script type="module">
    import BarChart from './BarChart.js';

    const chart = new BarChart();
    chart.render(document.body);
  </script>
</body>
</html>
